:root {
  --nav-height: 76px;
}

#logo {
  height: 60px;
  padding: 5px 0;
}

#nav-container {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;
  background-color: #0f172a;
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 0;
  height: 2px;
  background: #28a745;
  transition: width 0.3s ease;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #28a745;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#progressbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  background: #28a745;
}

#hero-block h2,
#hero-block h1 {
  color: #ffffff !important;
}

#hero-block {
  position: relative;
  min-height: calc(100vh - var(--nav-height));
  margin-top: var(--nav-height);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  transform: scale(1.15);
  will-change: transform;
  pointer-events: none;
}

.about-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
  filter: blur(5px);
}

#hero-block::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.about-content {
  position: relative;
  z-index: 3;
}

@media (max-width: 320px) {
  #hero-block h1 {
    font-size: 1.7rem;
  }

  #hero-block h2 {
    font-size: 1rem !important;
  }
}

.advantages-container,
.contacts-container {
  background: #eeeeee;
}

.carousel-caption {
  padding-bottom: 2rem;
}

#early-detection {
  background-image: url(src/img/early-detection-image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#fire-risk-reduction {
  background-image: url(src/img/fire-risk-reduction-image.jpg);
  background-position: bottom 30% left 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

#safety-increasing {
  background-image: url(src/img/safety-increasing-image.jpg);
  background-position: top 30% left 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

#prompt-react {
  background-image: url(src/img/prompt-react-image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#damage-reduction {
  background-image: url(src/img/damage-reduction-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#visual-control {
  background-image: url(src/img/visual-control-image.png);
  background-position: top 60% left 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

#scalability {
  background-image: url(src/img/scalability-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.employee-card {
  background-color: #eaffd8;
  border-radius: 1.5rem;
  padding: 1.5rem;
}

.employee-card h6 {
  margin-bottom: 0 !important;
}

.employee-photo {
  width: 80%;
  max-width: 300px;
  min-width: 110px;

  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;

  display: block;
  margin: 0 auto 1rem;
}

#igor_photo,
#sergey_photo {
  object-position: center 0%;
}

/* Anchor link fix */
#about-block,
#advantages-block,
#about-us-block,
#contacts-block {
  scroll-margin-top: calc(var(--nav-height));
}

.contacts-inner {
  gap: 5rem;
}

#contacts-block button {
  background: #28a745;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.1rem;
}

.contacts-form p {
  font-size: 0.8rem;
  color: #575757;
}

.contacts-form p a {
  color: #155022;
}